@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kanit', sans-serif;
}

.loader {
    border: 8px solid #f3f3f3; /* สีพื้นหลัง */
    border-top: 8px solid #3498db; /* สีกระพริบ */
    border-radius: 50%;
    width: 60px; /* ขนาด */
    height: 60px; /* ขนาด */
    animation: spin 1s linear infinite; /* สร้างการเคลื่อนไหว */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
